### Importing Required libraries Pandas for Data manipulation, Sklearn For modelling,Numpy For doing operation on array

In [1]:
# import the libraries as required
import pandas as pd
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import numpy as np
from matplotlib import pyplot as plt

### Reading Excel File using read_excel and printing it.

In [2]:
# Reading Dataset Storing into Variable
data = pd.read_excel('C:\Viraj_Studies\St_Clair_Data_Analytics\Sem-1\Analytics_Tools_And_Decision_Making\Python_Labs\Modeling_Dataset.xlsx')
data

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,deposit
0,49,management,married,tertiary,yes,-6847,no,yes,cellular,206,1,0
1,39,self-employed,married,tertiary,no,-3058,yes,yes,cellular,882,3,1
2,52,management,married,tertiary,no,-2712,yes,yes,cellular,253,1,0
3,49,management,divorced,tertiary,no,-2049,yes,no,unknown,169,3,0
4,49,entrepreneur,married,secondary,no,-1965,no,yes,telephone,317,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,56,entrepreneur,married,tertiary,no,51439,no,yes,cellular,325,1,0
9996,61,self-employed,divorced,tertiary,no,52587,no,no,cellular,394,3,1
9997,61,self-employed,divorced,tertiary,no,52587,no,no,cellular,290,1,1
9998,43,admin.,single,secondary,no,56831,no,no,unknown,243,1,0
9999,84,retired,married,secondary,no,81204,no,no,telephone,390,1,1

### Creating Dummies For each categorical Variables using get_dummies Function.

In [3]:
#Creating Dummies for each categorical variables.
data = pd.get_dummies(data, columns =['job', 'marital','education', 'default', 'housing', 'loan','contact'])
data

data.columns

Index(['age', 'balance', 'duration', 'campaign', 'deposit', 'job_admin.',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown'],
      dtype='object')

### Storing All independent variables in X and Dependent in y using .iloc[] function and printing both X,y

In [4]:
# Storing all Independent varibale into X and dependent into Y
X = data.loc[:, data.columns != 'deposit']
y = data.loc[:, data.columns == 'deposit']
print("All Independent Variables:\n",X)
print("\nDependent Variable:\n",y)

All Independent Variables:
       age  balance  duration  campaign  job_admin.  job_blue-collar  \
0      49    -6847       206         1           0                0
1      39    -3058       882         3           0                0
2      52    -2712       253         1           0                0
3      49    -2049       169         3           0                0
4      49    -1965       317         2           0                0
...   ...      ...       ...       ...         ...              ...
9995   56    51439       325         1           0                0
9996   61    52587       394         3           0                0
9997   61    52587       290         1           0                0
9998   43    56831       243         1           1                0
9999   84    81204       390         1           0                0

      job_entrepreneur  job_housemaid  job_management  job_retired  ...  \
0                    0              0               1            0  ...
1                    0              0               0            0  ...
2                    0              0               1            0  ...
3                    0              0               1            0  ...
4                    1              0               0            0  ...
...                ...            ...             ...          ...  ...
9995                 1              0               0            0  ...
9996                 0              0               0            0  ...
9997                 0              0               0            0  ...
9998                 0              0               0            0  ...
9999                 0              0               0            1  ...

      education_unknown  default_no  default_yes  housing_no  housing_yes  \
0                     0           0            1           1            0
1                     0           1            0           0            1
2                     0           1            0           0            1
3                     0           1            0           0            1
4                     0           1            0           1            0
...                 ...         ...          ...         ...          ...
9995                  0           1            0           1            0
9996                  0           1            0           1            0
9997                  0           1            0           1            0
9998                  0           1            0           1            0
9999                  0           1            0           1            0

      loan_no  loan_yes  contact_cellular  contact_telephone  contact_unknown
0           0         1                 1                  0                0
1           0         1                 1                  0                0
2           0         1                 1                  0                0
3           1         0                 0                  0                1
4           0         1                 0                  1                0
...       ...       ...               ...                ...              ...
9995        0         1                 1                  0                0
9996        1         0                 1                  0                0
9997        1         0                 1                  0                0
9998        1         0                 0                  0                1
9999        1         0                 0                  1                0

[10000 rows x 32 columns]

Dependent Variable:
       deposit
0           0
1           1
2           0
3           0
4           0
...       ...
9995        0
9996        1
9997        1
9998        0
9999        1

[10000 rows x 1 columns]

### Splitting Our Dataset into train and test using train_test_split function. Splitting into 70% for training and 30% for test dataset by setting test_size=0.3.

In [5]:
#Spliting Dataset into Train and Test Split 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0,test_size=0.3)

### Fitting Logistic Regression model and trying to train our model.

In [6]:
#Fiting logistic regression to the training set

log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

C:\Users\modiv\Anaconda3_2019_10\envs\DAB\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\modiv\Anaconda3_2019_10\envs\DAB\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

### Predicting Our model on test Dataset.

In [7]:
# Predicting the test set results
y_pred = log_reg.predict(X_test)
y_pred

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

### Creating Confusion Matrix which suggest that out of 3000 predicted test observations 1282+1069 = 2351 observation correctly predicted and 302+347= 649 observation incorrectly predicted.

In [8]:
#creating Confusion Matrix 
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[1282  302]
 [ 347 1069]]

### Using Score Function finding Accuracy of model which is 78%.

In [9]:
#Finding Accuracy of Model
Accuracy = log_reg.score(X_test, y_test)
print('Accuracy of logistic regression:\n',Accuracy)

Accuracy of logistic regression:
 0.7836666666666666